.grid {
  display: grid;
  min-width: 100%;
  grid-template-columns: 1fr 1fr min-content;
}

.backgroundImage {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
